.background-home {
    position: relative;
    background: url("../images/background1.jpg") top center no-repeat fixed;
    background-size: cover;
}

.background-black {
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
}

.title1 {
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Muli', Arial, sans-serif;
}


.table {
    white-space: nowrap;
}

.tablestyle {
    font-size: 10px;
    font-family: 'Muli', Arial, sans-serif;
}

.thstyle {
    padding-top: 30px !important;
    text-align: center;
}

.entete {
    color: #ffffff;
    font-size: 10px;
    font-family: 'Muli', Arial, sans-serif;
    text-transform: uppercase;
}

.tdstyle {
    vertical-align: middle !important;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    font-family: 'Muli', Arial, sans-serif;
}

.selectstyle {
    min-width: 150px;
}